@using Scaffold_Test_User.Models
@using Microsoft.AspNetCore.Identity
@using Scaffold_Test_User.Areas.Identity.Data;


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext ApplicationDbContext

@if (!SignInManager.IsSignedIn(User))
{
    <h1>Aby wyświetlić swoje pojazdy uprzednio musisz się zalogować.</h1>
}
else
{

    var currentUser = await UserManager.GetUserAsync(User);
    var reservations = ApplicationDbContext.Reservations.Where(r => r.UserId == currentUser.Id).ToList();

    {
        if (reservations.Count == 0 && !User.IsInRole("Administrator"))
        {
            <h1>Nie masz żadnych rezerwacji, przejdź do zakładki pojazdy.</h1>
        }
        else
        {
            if (!User.IsInRole("Administrator"))
            {
                <h1>Twoje zarezerwowane pojazdy:</h1>
                <ul>
                    @foreach (var reservation in reservations)
                    {
                        var vehicle = ApplicationDbContext.Vehicles.FirstOrDefault(v => v.Id == reservation.VehicleId);
                        if (vehicle != null)
                        {
                            <div class="col">
                                <div class="card shadow-sm p-lg-2">
                                    <div class="row no-gutters ">
                                        <div class="col-md-4">
                                            @if (vehicle.Name.StartsWith("s") || vehicle.Name.StartsWith("S"))
                                            {
                                                <img src="~/images/cars.jpg" class="card-img" alt="Car" style="width: 200px; height: 200px;">
                                            }
                                            else if (vehicle.Name.StartsWith("v") || vehicle.Name.StartsWith("V"))
                                            {
                                                <img src="~/images/vans.jpg" class="card-img" alt="Van" style="width: 200px; height: 200px;">
                                            }
                                            else if (vehicle.Name.StartsWith("m") || vehicle.Name.StartsWith("M"))
                                            {
                                                <img src="~/images/motorcycles.jpg" class="card-img" alt="Motorcycle" style="width: 200px; height: 200px;">
                                            }
                                            else
                                            {
                                                <img src="~/images/photo.png" class="card-img" alt="Photo" style="width: 200px; height: 200px;">
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@vehicle.Name</h5>
                                                <p class="card-text">Ilość dni: @reservation.NumberOfDays</p>
                                                <p class="card-text">@vehicle.Description</p>
                                                <p class="card-text">Cena: @vehicle.Price zł.    Użytkownik: @reservation.User.Email.ToString() | @reservation.User.FirstName.ToString() | @reservation.User.LastName.ToString() </p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">                                                        
                                                        <form method="post" asp-action="Delete" asp-route-reservationId="@reservation.Id">
                                                            <button type="submit" class="btn btn-sm btn-outline-danger">Anuluj rezerwację</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </ul>

            }
            else
            {
                <h1>Wszystkie zarezerwowane pojazdy:</h1>
                <ul>
                    @foreach (var reservation in ApplicationDbContext.Reservations.ToList())
                    {
                        var vehicle = ApplicationDbContext.Vehicles.FirstOrDefault(v => v.Id == reservation.VehicleId);
                        if (vehicle != null)
                        {
                            <div class="col">
                                <div class="card shadow-sm p-lg-2">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            @if (vehicle.Name.StartsWith("s") || vehicle.Name.StartsWith("S"))
                                            {
                                                <img src="~/images/cars.jpg" class="card-img" alt="Car" style="width: 200px; height: 200px;">
                                            }
                                            else if (vehicle.Name.StartsWith("v") || vehicle.Name.StartsWith("V"))
                                            {
                                                <img src="~/images/vans.jpg" class="card-img" alt="Van" style="width: 200px; height: 200px;">
                                            }
                                            else if (vehicle.Name.StartsWith("m") || vehicle.Name.StartsWith("M"))
                                            {
                                                <img src="~/images/motorcycles.jpg" class="card-img" alt="Motorcycle" style="width: 200px; height: 200px;">
                                            }
                                            else
                                            {
                                                <img src="~/images/photo.png" class="card-img" alt="Photo" style="width: 200px; height: 200px;">
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@vehicle.Name</h5>
                                                <p class="card-text">@vehicle.Description</p>
                                                <p class="card-text">Cena: @vehicle.Price zł.</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group gap-3">
                                                        Użytkownik:    @reservation.UserId.ToString()
                                                        <form method="post" asp-action="Delete" asp-route-reservationId="@reservation.Id">
                                                            <button type="submit" class="btn btn-sm btn-outline-danger">Anuluj rezerwację</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }                        
                    }
                </ul>

            }
        }
    }
}
