@model Scaffold_Test_User.Models.Vehicle

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@if (User != null && User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
        <a asp-action="Index">Powróć do listy</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Powróć do listy</a>
    </div>
}
